*{
  box-sizing: border-box;
  margin:0;
  padding:0;
}
body {
  background-color: #0D325A;
}
header{
  background-image: url(../img/oldman.png);
  background-size: 60%;
  background-position: 110% 110%;
  background-repeat: no-repeat;
  height: 450px;
}
.button{
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 13px;
  border: 1px solid white;
  border-radius: 3px;
  background-color: lightgreen;
  padding: 5px 8px;
}
a.login{
  background-color: rgba(0, 0, 0, 0);
}
/* container */
.container {
 width: 85%;
 text-align: center;
 margin: auto;
}
/* header top */
.header-top:after {
  content: "";
  display: table;
  clear: both;
}
/* navbar */
nav{
  height: 80px;
  line-height: 80px;
  text-align: center;
}
nav:after{
  content: "";
  display: table;
  clear: both;
}
.navbar-left{
  float: left;
}
.navbar-right{
  float: right;
}
/* lista */
.lista{
  list-style: none;
  text-align: center;
  color: white;
  text-transform: uppercase;
  font-size: 13px;
}
.lista li{
  display: inline-block;
}
.lista li a{
  color: white;
  padding-right: 8px;
  text-decoration: none;
}
.logo{
vertical-align: middle;
padding-right: 16px;
}

/* header-bottom */
.header-bottom{
}
.bannerone{
position: relative;
height: 370px;
width: 27%;
margin: 0;
text-align: left;
}
.testo-bannerone{
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  color: white;
}
.testo-bannerone h1{
  margin-bottom: 30px;
}
