*{
  box-sizing: border-box;
  margin:0;
  padding:0;
}
body {
  background-color: green;
}
header{
  background-image: url(../img/oldman.png);
  background-size: cover;
  height: 500px;
}
/* container */
.container {
 width: 85%;
 background-color: blue;
 text-align: center;
 margin: auto;
}
/* header top */
.header-top:after {
  content: "";
  display: table;
  clear: both;
}
/* navbar */
nav{
  height: 45px;
  line-height: 45px;
  text-align: center;
}
nav:after{
  content: "";
  display: table;
  clear: both;
}
.navbar-left{
  float: left;
}
.navbar-right{
  float: right;
}
/* lista */
.lista{
  text-decoration: none;
  list-style: none;
  text-align: center;
  color: white;
  text-transform: uppercase;
  font-size: 13px;

}
.lista li{
  display: inline-block;
}
.lista li a{
  color: white;
  padding-right: 8px;
}
.logo{
padding-right: 16px;
}
